
# arquivos em R
.Rproj.user
.Rdata
*.Rhistory
.httr-oauth
.DS_Store
/.quarto/

# ignorar extensões
*.vsdx
*.pptx

# ignorar arquivos
Portfolio.qmd
CV.qmd
quiz.qmd
freemason.qmd
usethis.R
links.txt

# ignorar pastas
quiz/
freemason/
portfolio/
