body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.text-section {
    width: 70%;
    font-size: 0.9em; /* Tamanho menor para o texto */
}

.button-section {
    width: 30%;
    display: flex;
    justify-content: center;
}

.download-button {
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .text-section, .button-section {
        width: 100%;
    }
}
